# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Create a Jupyter Notebook with markdown and code cells
* List examples of languages, libraries and tools used in Data Science
* Share your Jupyter Notebook publicly on GitHub
* Evaluate notebooks submitted by your peers using the provided rubric
* Demonstrate proficiency in Data Science toolkit knowledge

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. dplyr
2. stringr
3. ggplot
4. Pandas
5. Matplotlib
6. Numpy
7. Seaborn
8. Scikit-learn
9. TensorFlow
10. PyTorch

| Data Science Tools |
| :------------------|
| Jupyter Notebook |
| RStudio |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
round (200 / 60 , 2)

3.33

## Author
Naser Alshakhoori